# OS
.DS_Store

# IDE
.idea/
.vscode/

# Dependencices
node_modules/
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Builds
dist/

# Caches
.cache
tmp/

# Logs
test-results.json
lint-results.json
yarn-error.log

# Caches
.cache

# Coverage directories used by tools like istanbul
coverage
.nyc_output
